/* *{
    border: .1em dotted rgb(20, 20, 255);
} */
li {
    list-style: none;
}
.itemBox{
    position: relative;
    border: .15em solid #E8F9F7;
    border-radius: 0px 0px 20px 20px;
    background-color: #fff;
    padding: .5em;
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: .75em;
    font-size: 1.5em;
    box-shadow: -8px -6px 15px -14px rgba(0,0,0,0.73);
}

.itemBox:active, .itemBox:hover{
    border: .15em solid #80BDB6;
}
.infoButton{
    position: absolute;
    border-radius: 70% ;
    padding: .5em;
    background-color: #fff;
    height: 2em;
    width: 2em;
    border: none;
    font-size: .75em;
    float: left;
    top: -17px;
    left: -10px;
    z-index: 2;
}
.infoButtonCover{
    position: absolute;
    border-radius: 70% ;
    /* padding: .5em; */
    background-color: #fff;
    border: 2px dotted #020807;
    height: 1.5em;
    width: 1.5em;
    border: none;
    font-size: 1em;
    float: left;
    top: 4px;
    left: 2px;
    z-index: 3;
    /* display: none; */
}

.infoButton:active{
    /* background-color: #E8F9F7; */
    border: .15em solid #80BDB6;
}
/* .itemQuantBox{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
} */
.itemName{
    display: inline-flex;
    /* width: 20%; */
    overflow: hidden;
    top: .2em;
    border: 1px solid blueviolet;
    border-radius: 0px 0px 0px 6px;
    margin: .1em;
    font-style: oblique;
}
textarea{
    resize: none;
  }
.scrollableTextBox {
    /* align-items: center; */
    top: 5px;
    position: relative;
    height: 2em;
    width: 100%;
    white-space: nowrap;
    overflow: scroll;
    border: none;
    font-size: .75em;
    color: #868686;
    /* box-shadow: 0px 6px 15px -14px rgba(0,0,0,0.73); */
    /* box-shadow: -8px -6px 15px -14px rgba(0,0,0,0.73); */
    padding: .25em .5em;
    margin-top: -.5em;
}
.textAreaStyling {
    position: relative;
    width: 50%;
    top: -1em;
    border-bottom: .05em solid #868686;
    box-shadow: 0px 6px 15px -14px rgba(0,0,0,0.73); 
}

.quantField{
    display: flex;
    flex-direction: column;
    width: 25%;
    /* height: 75%; */
    justify-content: space-between;
    align-items: center;
    color: #868686;
}
.quantInputForm{
    width:40%;
    white-space: nowrap;
    overflow: scroll;
    border-bottom: .05em solid #868686;
}
.upperQuant{
    /* border: 1px solid blue; */
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}
.lowerQuant{
    width: 60%;
    /* border: 1px solid blue; */
    align-items: center;
    text-align: center;
    justify-content: center;
}
.upperQuant button {
    background-color: #a0c7e00c;
    color: #868686;
    border: none;
    margin: .5em 0em;
    font-size: 75%;
    width: 1.5em;
    height: auto; 
    box-shadow: 0 .1em .1em rgba(104, 152, 152, 0.259);
    cursor: pointer;
    transition: all 0.2s ease;
  }
  .quantTextBox{
    position: relative;
    color: #868686;
    /* border-bottom: .1em solid rgba(90, 92, 89, 0.334); */
    width:100%;
    height: 2em;
    top: 13px;
    text-align: center;
    font-size: 75%;
    white-space: nowrap;
    overflow: hidden;
    border: none;
    resize: none;
    min-width: 5ch;
    
}
.scroll::-webkit-scrollbar {
    display: none;
    }
  .minusButton button:active,.plusButton button:active {
    background-color: #c2d7e2;
    box-shadow: 0 0 .2em darkslategray;
    transform: translateY(.2em);
    box-shadow: 0 .1em .1em rgba(104, 152, 152, 0.259);
  }
  .upperQuant button:hover {
    background-color: #bcdaea;
  }
  
.minusButton,.plusButton{
    /* font-size: 1em; */
    /* border: .5em solid gray; */
    /* background-color: rgb(193, 184, 184); */
    border-radius: 20%;
    margin: 1em;
    /* z-index: 3; */

}
.remove{
    /* float: right; */
    position: absolute;
    /* transform: rotate(90deg); */
    /* height: 20%; */
    width: auto;
    background-color: #E9C1C1;
    color: #fff;
    border: none;
    border-radius: 10px 0px 10px 0px;
    text-align: center;
    font-size: .5em;
    padding: .2em;
    transition: all 0.2s ease;
    cursor: pointer;
    box-shadow: 1px 2px 10px -2px rgba(0, 0, 0, 0.252);
    right: -13px; 
    bottom: 69px;
}
.removeDZiv{
    display: flex;  
}


.submitQuant{
    /* display: flex-block; */
    /* flex-direction: column; */
    /* height: 1em; */
    /*width: 20; */
    background-color: #a9e2a8;
    color: #fff;
    border: none;
    border-radius: 0px 10px 0px 10px;
    text-align: center;
    font-size: .75em;
    margin: .5em;
    padding: .2em;
    transition: all 0.2s ease;
    cursor: pointer;
    box-shadow: -1px -2px 10px -2px rgba(81, 187, 95, 0.19);
}
.submitQuant:hover{
    background-color: #69b95b;
}
.remove:hover{
    background-color: #b95b5b;
}