.sectionBody{
    margin: auto;
    box-shadow: 5px 10px 30px 5px rgba(128, 128, 128, 0.122) ;
    width: 90%;
    border-radius: 0px 0px 20px 20px;
    padding-top: 15%;
}
.sectionHeader{
    padding-top: 10%;
    padding-bottom: 1em;
    text-align: center;
    box-shadow: 5px 10px 30px 5px rgba(128, 128, 128, 0.122) ;

}