* {
  box-sizing: border-box;
  margin: 0; 
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #868686
  /* border: .01em solid Green; */
}
.App {
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
}
.header{
  position: fixed;
  top: 0px;
  width: 100%;
/* White BG */
  /* background-color: #fff; */
/* Gradient BG */
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 8%, rgba(255,255,255,0.9948573179271709) 35%, rgba(255,255,255,0.821187850140056) 100%);
  
z-index: 100;
}
a {
  text-decoration: none;
  color: #868686;
}

input {
  color: #868686
}
