* {
  box-sizing: border-box;
  margin: 0; 
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
.App {
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}
.header{
  position: sticky;
  top: 0px;
  /* height: 20%; */
  z-index: 100;
}
a {
  text-decoration: none;
  color: #000;
}

/* Eliminates blue background from appearing onclick for mobile */
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}